body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

section {
    margin-bottom: 30px;
}

form {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: auto;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e0e0e0;
}

@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    form {
        padding: 10px;
    }

    input {
        width: 100%;
    }
}

@media (max-width: 480px) {
    h1, h2 {
        font-size: 24px;
    }

    label {
        font-size: 16px;
    }

    input {
        font-size: 16px;
        padding: 8px;
    }

    button {
        font-size: 16px;
        padding: 8px 16px;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }
}
